/* $headerColor: #e7e3e2;
$mainColor: #f7f2ef;
$mainColor2: #eded;
$textColor: #2f2e2c; */

$headerColor: #fefdf8;
$mainColor: #ffead9;
$mainColor2: #e2bea8;
$textColor: #e6a97e;
$textColor2: #5a2720;
